.homeScreen {
  text-align: center;
}
header {
  background-color: skyblue;
  height: 50px;
}

.userId {
  display: inline-block;
  text-align: right;
}
.homeTitle {
  display: inline;
}
h3 {
  display: inline-block;
  border-bottom: solid 1px black;
}

ul {
  text-align: center;
  padding: 0;
}

li {
  list-style: none;
}

.scheduleArea {
  display: inline-block;
  background-color: #B3FFFE;
}

.scheduleTitle {
  margin: 0;
}