.homeScreen {
  text-align: center;
}
header {
  background-color: skyblue;
  height: 50px;
}

.userId {
  display: inline-block;
}
.homeTitle {
  display: inline;
}
h3 {
  display: inline-block;
  border-bottom: solid 1px black;
}

ul {
  text-align: center;
  padding-left: 0;
  margin: 0 auto;
  width: 80%;
}

li {
  list-style: none;
  text-align: left;
}

.scheduleArea {
  display: inline-block;
  background-color: #B3FFFE;
  padding: 15px;
}

.scheduleTitle {
  padding: 10px;
  margin: 0 0 10px 0;
}